<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections></configSections>
	<connectionStrings>
		<add name="constring" 
			connectionString= "data source=. ;database= Mydatabase; integrated security=True; pooling=False"
			 providerName="System.Data.SqlClient" />
	<add name="Library_Management_System _sqlconnection" 
			connectionString= "data source=. ;AttachDbFileName|DataDirectory|\Mydatabase.mdf= Mydatabase; integrated security=True; User Instance= True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>